<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>

<div class="a">
  <p>こんちゃっす</p>
</div>

<script>
$(function(){

  $(".a").css("display","none").fadeIn();
});
</script>
